
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAF0;
}

header {
    background-color: #F5EADD;
    color: black;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #FFFFFF;
    padding: 1em;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

section {
max-width: 800px;
margin: 20px auto;
padding: 20px;
background-color: #FFFFFF;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
    padding: 2em;
}

.footer {
    background-color: #F5EADD;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
